* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

p {
  font-family: arial;
}

.header {
  display: flex;
  flex-direction: row;
}

.left-section {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 20px;
}

.right-section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-left: 260px;
  margin-right: 20px;
}

.company-logo {
  height: 70px;
  margin-right: 10px;
}

.header-text {
  font-family: arial;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

button {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.btn-upgrade {
  background-color: rgb(151, 99, 246);
  color: white;
  font-weight: bold;
}

.btn-upgrade:hover {
  background-color: rgb(130, 81, 222)
}

.btn-certified {
  background-color: rgb(255, 192, 199);
  font-weight: 600px;
}

.btn-certified:hover {
  background-color: rgb(242, 181, 188);
}

.btn-create {
  background-color: rgb(255, 244, 163);
  font-weight: 600px;
}

.btn-create:hover {
  background-color: rgb(237, 225, 135);
  ;
}

.btn-login {
  background-color: rgb(181, 240, 204);
}

.btn-login:hover {
  background-color: rgb(4, 170, 109);
}

a {
  text-decoration: none;
  color: black;

}

a:hover {
  color: white;
  background-color: rgb(4, 165, 106);
  padding: 24px 2px;
}



.footer {
  background-color: rgb(40, 42, 53);
}

.footer-text {
  font-size: 14px;
  color: white;
  padding: 50px 10px;
  line-height: 1.8;
}

.warrant {
  margin-left: 250px;
}

.policy {
  margin-right: 250px;
}

.copyright {
  margin-left: 500px;
}

.title-html {
  font-size: 44px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.next-button {
  margin-left: 1200px;
}

.home-button {
  margin-left: 30px;
}

.section-1 button {
  border-radius: 5px;
  background-color: rgb(4, 170, 109);
  color: white;
}

.section-1 button:hover {
  background-color: rgb(13, 145, 97);
}

.section-1 {
  padding-bottom: 50px;
}

.section-2 p {
  font-size: 18px;
  line-height: 1.9;
  margin-left: 30px;
}

.section-3 {
  margin-left: 30px;
  margin-bottom: 50px;
}



.study-button {
  margin-left: 30px;
  background-color: rgb(4, 170, 109);
  color: white;
  display: block;
}

.study-button:hover {
  background-color: rgb(13, 145, 97);
}


.section-3 {
  margin-left: 30px;
  padding-top: 30px;
}



.quiz-page {
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}


.css-description {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.css-question {
  font-size: 30px;
  margin-bottom: 18px;
}

li {
  font-family: arial;
  font-size: 16px;
  line-height: 1.6;
  margin-left: 35px;
}

.section-4 {
  margin-left: 30px;
  margin-bottom: 50px;
}


.section-4 p {
  font-size: 18px;
  margin-top: 15px;
}

h1 {
  margin-bottom: 30px;
  font-weight: 400;
}



.advice-text {
  font-family: arial;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background-color: rgb(255, 255, 204);
}

.tutorial-link {
  text-decoration: underline;
  cursor: pointer;
}

.tutorial-link:hover {
  color:rgb(13, 145, 97);
}

.css-work {
  margin-top: 50px;
  margin-bottom: 20px;
}

.section-5 p {
  font-size: 18px;
  margin-bottom: 15px;
}

.section-5 {
  margin-left: 30px;
}

.buttons button {
  border-radius: 5px;
  background-color: rgb(4, 170, 109);
  color: white;
}

.buttons button:hover {
  background-color: rgb(13, 145, 97);
}

.btn-6-1 {
  margin-top: 5px;
  margin-bottom: 40px;
}